## Part 1

In [6]:
import glob 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#getting the directory for the stored CSV's for the flow only case
csvdir = "C:\\Users\\Harrison\\OneDrive - University of Cincinnati\\Year 5\\Aero Lab\\Lab Work\\Lab 4\\Lab Data\\Flow only, vectors"

#importing the csv files
csvfiles = glob.glob(os.path.join(csvdir, "*.csv"))

#creating an array to store the imported csv dataframes
dataframes = []

for csvfile in csvfiles:
    df = pd.read_csv(csvfile) #reading each csv file
    dataframes.append(df) #adding the dataframe from the csv into the dataframes array

The cylinder and wing are placed in the freestream where the effects from the walls (bottom of tunnel, top of water) are the lowest, therefore we want to use that velocity to determine Reynold's number. For each frame, every row (y position) will be averaged and then all the frame rows will be averaged (gives v_avg row 1, v_avg row 2, etc.). Plotting the data will show which rows are the highest, and therefore the freestream. The freestream rows will then be averaged and the resulting speed will be used in the Re number calculation.

In [3]:
avg_speed = []
row = 0
print(len(dataframes))

for k in range(len(dataframes)):
    df = dataframes[k] #getting individual frame data
    speeds = []
    speed_arr = []

    for i in range(len(df)): 
        u = df.loc[i][2] #getting u component
        v = df.loc[i][3] #getting v component
        speed = np.sqrt(u**2 + v**2) #calculating speed for the position
        speed_arr.append(speed) #adding the speed value to the array

    avg_speed.append(np.average(speed_arr)) #average speed for the frame

    #counter to help track progress
    if k/100 == int(k/100):
        print("Frame {}".format(k))


print(avg_speed) #printing the avg speed array
flow_speed = np.average(avg_speed) #calculating the average flow speed
print(flow_speed) #displaying average flow speed

497
Frame 0
Frame 100
Frame 200
Frame 300
Frame 400
[130.3548471191971, 126.15378728424561, 132.26757131617072, 131.58078558260743, 130.36974698168484, 133.8948458231916, 126.10830908896192, 131.65680222803297, 131.87974640730744, 129.93911455982615, 129.54904677530115, 129.64044950609906, 124.33031740642686, 121.34575243040983, 128.22559724311532, 132.40908866533752, 129.06469459011294, 128.36724322595086, 126.2744023979616, 120.51773955080462, 123.96702874779533, 133.29055398835223, 127.21012894239747, 131.66495039534564, 129.32719080333177, 131.68971155020233, 129.81296783023308, 130.18470210399386, 129.15898591807107, 128.95937585412594, 128.154539390093, 128.7923291656114, 126.6139467583996, 128.384450493172, 130.984318441854, 125.15926993435778, 127.6651241089155, 128.64474941467776, 127.72587213817698, 126.30643926147206, 127.74174808080602, 119.94125050881074, 128.12948004850207, 126.83108396834007, 127.68372911680338, 126.93364789031672, 130.74776830207205, 127.28791887012214, 117.4690357548666, 129.7248153437315, 127.92462329199739, 128.3522157609678, 128.66599802340338, 129.10058739290156, 126.39087560601408, 130.19969114184255, 129.84601112842557, 128.54057969551255, 131.6305484133129, 130.88079950185502, 130.81204373916904, 129.47348206816946, 126.64594498444882, 125.04953917453227, 128.81755083869425, 128.84719989036395, 129.38385752968466, 130.52341029269866, 130.0716390424763, 120.1396178957948, 133.23218707890538, 132.62833728348696, 131.22630097127944, 129.76062382060397, 126.79962970758082, 122.47115678962895, 130.60246944283494, 129.13361663741935, 121.61605763847378, 117.35747369048194, 124.1351524171118, 109.32829860576167, 123.26597049705035, 130.27544385772993, 125.23159078720197, 118.2082320818639, 128.34597082669816, 116.4333751124839, 130.56236125740992, 115.26192563258705, 125.84418556771918, 126.90228806713156, 127.54674447679001, 128.92896379952487, 131.1775588878075, 126.66281463648397, 131.98963701233708, 125.4256571497508, 125.26034411712453, 128.57776372496943, 127.81310985977808, 111.77310255676208, 121.44489194106824, 125.03349130329896, 122.72462102046426, 128.10837599254327, 124.5325782243522, 119.75470836652529, 115.96555519145407, 128.04315177795448, 132.2137407497809, 122.12466368026702, 123.8361737970053, 122.78336381716821, 130.58525984143233, 134.79254836409572, 131.1724717082624, 115.16330200061981, 116.71573217914693, 122.18987523832465, 128.32848235099274, 136.39843448574095, 134.46582006504806, 124.78436431521091, 124.86710179599434, 116.25653351062091, 130.1066053584877, 132.90872366313434, 131.0159693300592, 116.2846581613881, 124.28710493826603, 121.8724412670856, 132.94835058424056, 124.79036019971188, 123.14111501056986, 110.10555176422154, 128.64020564977184, 111.2449589500263, 125.68534616550235, 126.36788581869168, 124.1193779641163, 111.15988937894831, 133.17802630326184, 127.58383778953944, 128.28533256300582, 124.41263623572014, 126.64975426913963, 110.20917201869123, 124.27689011522108, 121.2382910278415, 119.80738735067703, 124.0222880681763, 124.05882588521956, 127.63804374823337, 125.23179960144775, 123.14028981812794, 126.16807123719296, 116.20673305704638, 124.95551642785205, 117.54581353610483, 114.64161539591535, 124.1324760924436, 117.61566119671163, 124.05150451114683, 124.89788005139748, 123.88702441348423, 122.41184574215879, 132.2182808009732, 117.514436623173, 125.15503203697266, 124.83030898361459, 118.67957737190265, 117.6639802054552, 115.71153505858256, 128.62635559949376, 123.27320503337153, 114.4558710494573, 113.38312087100704, 112.19830120802442, 124.2850562190878, 106.2683447016353, 115.45877310134195, 121.21923462252174, 115.94185944158677, 116.85005101392049, 112.96223960464954, 121.80409544059701, 94.06418507338402, 115.52671277354214, 117.43507063989591, 111.3833460266589, 113.69970111474646, 114.87616505477773, 107.83083038808016, 116.00885934381388, 122.52129898976912, 123.00182151372813, 107.91977285568075, 109.95923711640944, 121.06688278738925, 116.23312272167779, 118.71884567548867, 118.01761498016972, 104.71746119546219, 121.99264220329862, 107.83279423962065, 117.26454531678715, 118.88346993040587, 115.13140211101447, 106.60191843713666, 125.7235994255955, 113.56411204113537, 123.23690200536177, 123.6859347633765, 105.6321631081923, 112.96501674863184, 114.42332107401175, 122.19689175542267, 118.1256504174425, 109.72013914586479, 107.18935104074926, 100.03460339461559, 110.04792219077808, 118.884357050145, 110.68999746840156, 99.0052550521527, 113.81211872634965, 113.477087986931, 120.02354893010724, 121.55252112868718, 121.2621957710355, 114.03083117548299, 118.09218444543676, 101.99851816440217, 115.27926028575772, 111.03286903744045, 113.07663657127027, 112.88433731362574, 108.50475148438024, 113.88883994090982, 113.23384059748714, 109.84891632197036, 117.14052149608155, 117.22454486844275, 122.54947593989253, 115.71806491980811, 101.82457750845387, 114.27673546978637, 122.18585984099512, 99.56899853965419, 123.93913105895685, 112.03170284700585, 114.0233288152369, 111.831332551975, 118.58941429961688, 109.32065454039005, 112.60444844100162, 120.4408639822113, 118.82909285175315, 109.80318158868906, 117.36373983675155, 117.88079055000155, 117.80177099683966, 117.42823621216519, 114.07045818154137, 112.77413677114738, 119.5885047890912, 116.93213448196869, 125.41618890767445, 99.64904300923676, 118.1854020701055, 97.69293991272366, 119.4817660814771, 118.18277783023687, 122.7377210059459, 112.51975662560832, 117.102170634616, 121.17179211118176, 127.87955504586559, 124.18592988665097, 118.2335941459483, 121.47912777107352, 122.0942454349006, 132.84329026627177, 133.2469865004756, 118.6399084090903, 126.25133219146076, 104.8742201227828, 115.35545001853302, 124.93872884151375, 128.49168537735073, 116.9081730450937, 114.88658413768303, 126.37371328206618, 115.33898664817396, 121.65102785510693, 110.58936835728869, 123.20317242199123, 100.67589167726346, 125.28942682247623, 123.87310613728278, 123.41243937413691, 103.47626876089748, 120.96102240001731, 115.07031424411072, 125.11376271594891, 119.98464079945145, 117.3667443381346, 120.01504647939944, 117.34109124603889, 121.74362349496099, 125.42533409390778, 126.74758775949472, 116.49053704886997, 120.148606208981, 109.856013498825, 111.80224683992368, 127.29619484769373, 122.79759242333955, 116.00379038343053, 130.7501576164566, 122.17515332979936, 130.83051797006343, 115.80933351730766, 120.41251600716616, 109.79435351048704, 116.67845177226546, 126.66925009069583, 121.01003556321758, 115.66434525164152, 125.152597636974, 121.58086618045853, 128.1187746404247, 111.63212544375686, 112.57615208904821, 116.27643775954523, 124.0337886321297, 118.70065529512318, 110.03701015542572, 123.57305679809923, 122.39026263833172, 125.31426340515294, 122.05869066552843, 110.27530818977101, 129.62124304648896, 98.04975875106662, 122.74164022278222, 113.54574780450301, 119.68352476123343, 123.73545065243759, 116.64145033048082, 109.01268503567437, 128.4436506956102, 122.49391255855289, 122.66144713093854, 119.48667563163241, 111.26185852098806, 117.80942495730233, 123.20758885122913, 112.43463342046552, 121.09133751928418, 121.93280348984997, 113.19407122364642, 108.64963591687489, 104.44813441960115, 109.72101687910562, 109.47154992117771, 112.57611307985, 121.09347498880479, 113.05386286932402, 112.73747274115107, 121.31346383538225, 113.36578330663171, 120.48643635269073, 117.79394894098732, 122.08519445500347, 117.71030875849993, 115.65262209588082, 108.64036509830044, 103.99206563082485, 118.17276055783867, 121.82858473622113, 115.28618912268074, 120.49795072279016, 128.20870092801394, 111.02592794129984, 120.45584791936788, 115.9147727309575, 117.36538549460532, 120.96134624225766, 113.0594078946076, 108.63514459425399, 128.9770362868721, 122.84014406550189, 115.1672491988079, 108.69796117702863, 120.48452390902773, 109.58325397695221, 113.45068205017274, 114.35153025733345, 113.8244104082229, 106.76929741854782, 119.09224431055634, 118.24698515351139, 109.43082283471419, 113.42857657212242, 114.57323755120353, 113.12173277662167, 112.36207820162403, 110.22861577876638, 102.92947623490808, 105.26981869541453, 123.1780452716871, 109.04146988607083, 113.93260827144806, 115.49205735087658, 97.21957140157413, 110.74278381108273, 110.41288956046428, 117.80574468978807, 111.20827244378775, 119.99959796355537, 101.24665315306059, 106.9345838178543, 114.83734953753151, 108.43213647512421, 108.1086835115511, 112.53990147671007, 110.94764068634485, 109.9376119268349, 115.35793748942521, 115.48200508891283, 97.47660514584312, 115.39280641458576, 100.87663541204903, 107.38653364228264, 118.28758830606498, 110.0311247038991, 104.07174800005572, 112.7307584905461, 109.26100668279133, 105.77169079209675, 119.51312652486112, 120.61410238023046, 107.18006992724769, 112.55708520717933, 119.0269581366504, 119.34869826624681, 113.21021991181885, 108.30940860188898, 122.18988068784876, 115.9270677262568, 113.73699414343362, 108.49050466745857, 114.22187592649149, 117.3836175241297, 120.43676496343262, 115.62970355150782, 118.10230655330305, 119.76136150567552, 117.43131641561573, 116.79997325928714, 113.41804841530498, 106.5825097921523, 112.73229404017137, 115.5349215335417, 111.85041191560268, 115.84180892068605, 119.57093704799064, 115.71559057464579, 122.32135843066598, 112.70608958644709, 116.79115346782996, 115.01880552705809, 121.1112866783397, 110.64036335799402, 111.22581236812525, 123.16699073844744, 116.80498547698345, 106.90204793918019, 116.33675649290473, 104.89741930658303, 115.48508043397891, 115.20240386875832, 112.87990815767083, 121.24687632060363, 115.96584965653219, 115.47940268533533, 113.16105673123592, 108.23084645291972, 118.74840005035217, 115.621509743381, 117.56862809471896, 118.40877245796398, 114.28637091971532, 111.1153012497023, 114.0872057054661]
119.24993793414708

In [4]:
#constants
rho = 997 #kg/m^3
mu = 1.002E-3 #Ns/m^2
flow_speed = np.average(avg_speed)/1000 #m/s
r_c = 101.6 #mm
r_t = 57.66 #mm
Cyl_dia = 1.5/39.37 #m

t = (r_t/r_c) #non-dimensional, taper ratio
MAC = r_c * .66 * ((1+t+t**2)/(1+t))/1000 #m, mean aerodynamic chord

Re_cyl = (rho*flow_speed*Cyl_dia)/mu
Re_MAC = (rho*flow_speed*MAC)/mu

print("Re_cyl: {:.3f} \nRe_MAC: {:.3f}".format(Re_cyl, Re_MAC))

Re_cyl: 4520.760
Re_MAC: 9591.350

# Part 2
A python function will take in the instantaneous vector fields for each image and then average the entire window to get the average vector field. The averaged mean turbulence RMS will also be computed

In [5]:
#thought out method:
## Part A: Compiling all the data
# 1. Open the folder that contains the csv files
# 2. Open each csv file and then place the data into a dataframe and then into an array
# 3. Generate a panda's data frame (rows = frame #, columns = vector at position) [refer as total frame]

## Part B: Determining the mean velocity field
# 4. Calculate the vector for each position (per frame) and then populate the corresponding cell of the data frame
# 5. After all frames have been analyzed, find the average vector value for each column (if a cell is NaN, 0, -1.#ND, etc. it is not included)(every column is the same position between frames)
# 6. Populate the Average_data_frame with the average vector value (row = position, column = vector)

## Part C: Determining the RMS mean velocity field
# 7. Using the total data frame, subtract the mean velocity from each position
# 8. Populate new total_RMS_frame
# 9. Average the columns, and populate the RMS_data_frame

In [125]:
## Part A.1 and A.2 ##

#getting the directory for the stored CSV's for the flow only case (ensure all \ are \\)
csvdir = "C:\\Users\\Harrison\\OneDrive - University of Cincinnati\\Year 5\\Aero Lab\\Lab Work\\Lab 4\\Lab Data\\23-10-20 10.30.02\\Masked Data"

#importing the csv files
csvfiles = glob.glob(os.path.join(csvdir, "*.csv"))

#creating an array to store the imported csv dataframes
dataframes = []

for csvfile in csvfiles:
    df = pd.read_csv(csvfile) #reading each csv file
    dataframes.append(df) #adding the dataframe from the csv into the dataframes array

In [126]:
## Part A.3 & B.4 ##
#importing time to track how long it takes to compute
import time

#creating a dataframe with number of columns equal to the number of data points
#the row is equal to the frame # while the column # is the position of the vector
dt = dataframes[0]
vector_total_frame = pd.DataFrame(columns=np.arange(len(dt)))
u_total_frame = pd.DataFrame(columns=np.arange(len(dt)))
v_total_frame = pd.DataFrame(columns=np.arange(len(dt)))

#initial time
if k/100 == int(k/100):
    time0 = time.time()

for k in range(len(dataframes)):
    dt = dataframes[k]
    vector_values = []
    u_values = []
    v_values = []

    time0 = time.time() #starting time

    #computing the vector for each position
    for i in range(len(dt)):
        vector = np.sqrt((dt.loc[i][2]*(1/1.3499/0.019))**2 + (dt.loc[i][3]*(1/1.3499/0.019))**2) #calculating the vector
        vector_values.append(vector) #adding vector value to array
        u_values.append(dt.loc[i][2]*(1/1.3499/0.019)) #u values
        v_values.append(dt.loc[i][3]*(1/1.3499/0.019)) #v values
        
    #adding the computed vectors to the total_data frame
    vector_total_frame.loc[k] = vector_values 
    u_total_frame.loc[k] = u_values
    v_total_frame.loc[k] = v_values

    if k/100 == int(k/100):
        timef = time.time() #time after computation
        timet = timef - time0
        print("Frame {:.1f} took {:.3f} s to compute".format(k, timet))

Frame 0.0 took 2.543 s to compute
Frame 100.0 took 1.116 s to compute
Frame 200.0 took 1.207 s to compute
Frame 300.0 took 1.160 s to compute
Frame 400.0 took 1.242 s to compute
Frame 500.0 took 1.078 s to compute

In [127]:
#Debugging cell
print(vector_total_frame)

           0           1           2           3           4           5     \
0    115.503363  111.159311  143.484413  189.945175  168.506613  166.037955
1    160.506155  152.953929  162.821132  167.734193  159.541888  153.919184
2    157.921555  168.401817  168.299576  184.464478  152.976007  146.551344
3    159.819952  175.537228  176.271197  174.194942  171.508585  173.780796
4     31.813676  100.919960  143.853701  154.796973  155.931750  150.217967
..          ...         ...         ...         ...         ...         ...
505  113.886192  110.288330  146.440344  175.281067  174.301844  171.161513
506  145.560902  210.605648  208.919143  182.911480    0.000000  158.470620
507   33.438096   65.502367  145.385542  196.065738  179.803544  180.309191
508    0.000000  134.385950  146.261878  151.388475  168.938993  167.612870
509    0.000000  140.173252  173.471033  163.560448  161.789476  155.362277

           6           7           8           9     ...        4651  \
0    174.560236  172.228582  160.288436  171.362766  ...  161.132646
1    148.392477  158.806832  169.454883  164.379429  ...  158.943102
2    154.312911  174.037631  162.343056  161.488762  ...  122.755184
3    161.911506  153.649304  186.845340  190.106352  ...  170.854008
4    129.839300  126.260501  167.641004  176.345781  ...    0.000000
..          ...         ...         ...         ...  ...         ...
505  167.882383  166.721469  166.880689  167.841472  ...  142.205524
506  159.709001  192.853231  195.224796  203.369033  ...  115.887543
507  131.088378  162.312024  169.701770  163.180539  ...  156.158117
508  179.794159  153.568993  169.688082    0.000000  ...  186.298578
509  167.622971  186.419082  206.778453  201.695666  ...  189.255678

           4652        4653        4654        4655        4656        4657  \
0    146.878279  128.919125  120.210102  123.184773  112.845448   75.084281
1    116.926923  121.003963  140.475657  143.937792   58.321064  112.755575
2    134.794450  132.353081  150.061354  141.240481  103.729610   86.925774
3    148.098753  138.159920  112.278187  130.715532  132.675608  177.519841
4    125.674970  118.431043  162.649002  136.084977   92.881332  100.253571
..          ...         ...         ...         ...         ...         ...
505  127.471492  128.887198  157.230213  155.446621  143.887151  105.479184
506  105.338690   30.511816  118.069123  121.714862  115.611253  129.779279
507  163.588174  159.188276  157.880097  155.110269  109.997659  101.843437
508  161.829347  137.540013  137.009994  129.770024  130.498874  141.446616
509  116.418275   95.968345  136.735959   70.806476    0.000000    0.000000

           4658        4659        4660
0    156.705218  156.211693    0.000000
1    134.477092  158.602666  137.050384
2     95.855970    0.000000    0.000000
3    106.845080  110.157030   96.815809
4    139.166553   87.303015   72.711479
..          ...         ...         ...
505  122.740196  135.060283  127.175101
506  149.143339  140.215323  126.529833
507   77.839984   84.805702    0.000000
508  122.948083  116.962032    0.000000
509  122.484860  121.588837   16.195481

[510 rows x 4661 columns]

In [132]:
## Part B.5 and B.6 ##
# Determining the average vector for the cell

#creating the Average_data_frame
Average_data_frame = pd.DataFrame(columns=["x (mm)", "y (mm)", "u mm/s", "v mm/s", "v_avg (mm/s)"])

dt = dataframes[0]

#populating Average_data_frame with the x and y coords
time0 = time.time()
for i in range(len(dt)):
    Average_data_frame.loc[i] = dt.loc[i][0]
    Average_data_frame.loc[i][1] = dt.loc[i][1]
timef = time.time()
print("Positions placed in: {:.2f} s".format(timef-time0))

#calculating the average value
for k in range(len(dt)): #iterating through the columns (each column is a position)
    vector_avg = 0
    u_avg = 0
    v_avg = 0
    v_divider = 0
    u_divider = 0
    vec_divider = 0

    # if k/100 == int(k/100):
    #     time0 = time.time()

    #checking the vectors for if the value is zero or null
    for i in range(len(dataframes)): #iterating the row 
        if vector_total_frame.loc[i][k] != 0: #pd.isnull(total_frame.loc[i][k]) == False:
            vector_avg = vector_avg + vector_total_frame.loc[i][k] #adding the values together
            vec_divider = vec_divider + 1 #number of usable values
        
        if u_total_frame.loc[i][k] != 0:
            u_avg = u_avg + u_total_frame.loc[i][k]
            u_divider = u_divider + 1
        
        if v_total_frame.loc[i][k] != 0:
            v_avg = v_avg + v_total_frame.loc[i][k]
            v_divider = v_divider + 1
        else:
            divider = divider #keeping the divisible number constant
    
    # if avg == 0:
    #     print("Value is zero")
    # else:
    #     cell_avg_vector = avg/divider #calculating the average vector
    
    #Calculating the average vector and adding it to the frame
    if u_divider != 0:
        Average_data_frame.loc[k][2] = u_avg/u_divider
    else:
        Average_data_frame.loc[k][2] = 0

    if v_divider != 0:
        Average_data_frame.loc[k][3] = v_avg/v_divider
    else:
        Average_data_frame.loc[k][3] = 0

    if vec_divider != 0:
        Average_data_frame.loc[k][4] = vector_avg/vec_divider
    else:
        Average_data_frame.loc[k][4] = 0 

    # print(Average_data_frame.loc[k])

# print(Average_data_frame)

Positions placed in: 17.14 s
x (mm)            8.000000
y (mm)          472.000000
u mm/s          140.737863
v mm/s            3.692356
v_avg (mm/s)    141.740347
Name: 0, dtype: float64
x (mm)           16.000000
y (mm)          472.000000
u mm/s          151.589408
v mm/s            3.698804
v_avg (mm/s)    153.449441
Name: 1, dtype: float64
x (mm)           24.000000
y (mm)          472.000000
u mm/s          156.110002
v mm/s            4.961069
v_avg (mm/s)    157.937113
Name: 2, dtype: float64
x (mm)           32.000000
y (mm)          472.000000
u mm/s          161.645278
v mm/s            5.322615
v_avg (mm/s)    163.016065
Name: 3, dtype: float64
x (mm)           40.000000
y (mm)          472.000000
u mm/s          166.067570
v mm/s            4.403409
v_avg (mm/s)    166.807878
Name: 4, dtype: float64
x (mm)           48.000000
y (mm)          472.000000
u mm/s          169.474378
v mm/s            4.616638
v_avg (mm/s)    170.149381
Name: 5, dtype: float64
x (mm)           56.000000
y (mm)          472.000000
u mm/s          168.990614
v mm/s            5.196887
v_avg (mm/s)    169.699851
Name: 6, dtype: float64
x (mm)           64.000000
y (mm)          472.000000
u mm/s          172.169651
v mm/s            5.389412
v_avg (mm/s)    172.873175
Name: 7, dtype: float64
x (mm)           72.000000
y (mm)          472.000000
u mm/s          171.559582
v mm/s            5.906772
v_avg (mm/s)    172.437389
Name: 8, dtype: float64
x (mm)           80.000000
y (mm)          472.000000
u mm/s          172.291193
v mm/s            4.464293
v_avg (mm/s)    173.099456
Name: 9, dtype: float64
x (mm)           88.000000
y (mm)          472.000000
u mm/s          175.865338
v mm/s            4.284242
v_avg (mm/s)    176.545215
Name: 10, dtype: float64
x (mm)           96.000000
y (mm)          472.000000
u mm/s          178.211956
v mm/s            3.700248
v_avg (mm/s)    178.867814
Name: 11, dtype: float64
x (mm)          104.000000
y (mm)          472.000000
u mm/s          179.216491
v mm/s            3.874846
v_avg (mm/s)    179.877666
Name: 12, dtype: float64
x (mm)          112.000000
y (mm)          472.000000
u mm/s          179.144411
v mm/s            4.053613
v_avg (mm/s)    180.703201
Name: 13, dtype: float64
x (mm)          120.000000
y (mm)          472.000000
u mm/s          180.928630
v mm/s            4.517192
v_avg (mm/s)    181.808362
Name: 14, dtype: float64
x (mm)          128.000000
y (mm)          472.000000
u mm/s          181.098065
v mm/s            4.881894
v_avg (mm/s)    181.967815
Name: 15, dtype: float64
x (mm)          136.000000
y (mm)          472.000000
u mm/s          181.037267
v mm/s            5.174880
v_avg (mm/s)    181.944610
Name: 16, dtype: float64
x (mm)          144.000000
y (mm)          472.000000
u mm/s          180.637358
v mm/s            5.592784
v_avg (mm/s)    181.751194
Name: 17, dtype: float64
x (mm)          152.000000
y (mm)          472.000000
u mm/s          182.809864
v mm/s            4.924201
v_avg (mm/s)    183.915083
Name: 18, dtype: float64
x (mm)          160.000000
y (mm)          472.000000
u mm/s          184.219828
v mm/s            4.667126
v_avg (mm/s)    184.997615
Name: 19, dtype: float64
x (mm)          168.000000
y (mm)          472.000000
u mm/s          185.109105
v mm/s            5.658007
v_avg (mm/s)    185.916529
Name: 20, dtype: float64
x (mm)          176.000000
y (mm)          472.000000
u mm/s          185.738535
v mm/s            4.429488
v_avg (mm/s)    186.616566
Name: 21, dtype: float64
x (mm)          184.000000
y (mm)          472.000000
u mm/s          186.649451
v mm/s            4.104565
v_avg (mm/s)    188.101898
Name: 22, dtype: float64
x (mm)          192.000000
y (mm)          472.000000
u mm/s          188.554758
v mm/s            3.636713
v_avg (mm/s)    189.340313
Name: 23, dtype: float64
x (mm)          200.000000
y (mm)          472.000000
u mm/s          187.324394
v mm/s            3.730793
v_avg (mm/s)    188.679358
Name: 24, dtype: float64
x (mm)          208.000000
y (mm)          472.000000
u mm/s          188.622365
v mm/s            3.241279
v_avg (mm/s)    189.271362
Name: 25, dtype: float64
x (mm)          216.000000
y (mm)          472.000000
u mm/s          188.589046
v mm/s            3.945376
v_avg (mm/s)    189.820198
Name: 26, dtype: float64
x (mm)          224.000000
y (mm)          472.000000
u mm/s          188.426827
v mm/s            4.232527
v_avg (mm/s)    189.703242
Name: 27, dtype: float64
x (mm)          232.000000
y (mm)          472.000000
u mm/s          188.445081
v mm/s            3.349880
v_avg (mm/s)    189.501882
Name: 28, dtype: float64
x (mm)          240.000000
y (mm)          472.000000
u mm/s          188.500122
v mm/s            2.768028
v_avg (mm/s)    189.622277
Name: 29, dtype: float64
x (mm)          248.000000
y (mm)          472.000000
u mm/s          187.126748
v mm/s            3.334277
v_avg (mm/s)    188.415645
Name: 30, dtype: float64
x (mm)          256.000000
y (mm)          472.000000
u mm/s          187.882898
v mm/s            3.733089
v_avg (mm/s)    189.251567
Name: 31, dtype: float64
x (mm)          264.000000
y (mm)          472.000000
u mm/s          186.999555
v mm/s            3.492143
v_avg (mm/s)    188.900073
Name: 32, dtype: float64
x (mm)          272.000000
y (mm)          472.000000
u mm/s          189.054393
v mm/s            3.261918
v_avg (mm/s)    189.747420
Name: 33, dtype: float64
x (mm)          280.000000
y (mm)          472.000000
u mm/s          188.656522
v mm/s            4.512352
v_avg (mm/s)    190.574333
Name: 34, dtype: float64
x (mm)          288.000000
y (mm)          472.000000
u mm/s          188.962409
v mm/s            4.293358
v_avg (mm/s)    190.557414
Name: 35, dtype: float64
x (mm)          296.000000
y (mm)          472.000000
u mm/s          187.739317
v mm/s            4.090447
v_avg (mm/s)    188.757823
Name: 36, dtype: float64
x (mm)          304.000000
y (mm)          472.000000
u mm/s          187.548375
v mm/s            3.628714
v_avg (mm/s)    189.520311
Name: 37, dtype: float64
x (mm)          312.000000
y (mm)          472.000000
u mm/s          187.024782
v mm/s            3.375110
v_avg (mm/s)    188.532155
Name: 38, dtype: float64
x (mm)          320.000000
y (mm)          472.000000
u mm/s          186.976412
v mm/s            2.868993
v_avg (mm/s)    188.626157
Name: 39, dtype: float64
x (mm)          328.000000
y (mm)          472.000000
u mm/s          187.256460
v mm/s            3.301835
v_avg (mm/s)    188.198554
Name: 40, dtype: float64
x (mm)          336.000000
y (mm)          472.000000
u mm/s          185.386797
v mm/s            2.214962
v_avg (mm/s)    186.301460
Name: 41, dtype: float64
x (mm)          344.000000
y (mm)          472.000000
u mm/s          184.382069
v mm/s            2.509718
v_avg (mm/s)    186.349875
Name: 42, dtype: float64
x (mm)          352.000000
y (mm)          472.000000
u mm/s          187.266198
v mm/s            3.043600
v_avg (mm/s)    188.590445
Name: 43, dtype: float64
x (mm)          360.000000
y (mm)          472.000000
u mm/s          187.141496
v mm/s            2.786636
v_avg (mm/s)    188.085191
Name: 44, dtype: float64
x (mm)          368.000000
y (mm)          472.000000
u mm/s          188.057300
v mm/s            2.126398
v_avg (mm/s)    188.735057
Name: 45, dtype: float64
x (mm)          376.000000
y (mm)          472.000000
u mm/s          187.257712
v mm/s            1.436309
v_avg (mm/s)    188.837636
Name: 46, dtype: float64
x (mm)          384.000000
y (mm)          472.000000
u mm/s          186.479165
v mm/s            1.556671
v_avg (mm/s)    188.547372
Name: 47, dtype: float64
x (mm)          392.000000
y (mm)          472.000000
u mm/s          186.240389
v mm/s            2.630246
v_avg (mm/s)    188.201135
Name: 48, dtype: float64
x (mm)          400.000000
y (mm)          472.000000
u mm/s          185.638719
v mm/s            2.058219
v_avg (mm/s)    187.207571
Name: 49, dtype: float64
x (mm)          408.000000
y (mm)          472.000000
u mm/s          183.343228
v mm/s            2.764874
v_avg (mm/s)    184.417362
Name: 50, dtype: float64
x (mm)          416.000000
y (mm)          472.000000
u mm/s          185.786035
v mm/s            2.044612
v_avg (mm/s)    187.010588
Name: 51, dtype: float64
x (mm)          424.000000
y (mm)          472.000000
u mm/s          185.978358
v mm/s            2.434803
v_avg (mm/s)    186.580455
Name: 52, dtype: float64
x (mm)          432.000000
y (mm)          472.000000
u mm/s          184.239719
v mm/s            2.930606
v_avg (mm/s)    185.146167
Name: 53, dtype: float64
x (mm)          440.000000
y (mm)          472.000000
u mm/s          184.224683
v mm/s            1.883094
v_avg (mm/s)    185.195639
Name: 54, dtype: float64
x (mm)          448.000000
y (mm)          472.000000
u mm/s          183.868635
v mm/s            1.966045
v_avg (mm/s)    185.584216
Name: 55, dtype: float64
x (mm)          456.000000
y (mm)          472.000000
u mm/s          181.427704
v mm/s            3.422286
v_avg (mm/s)    183.127456
Name: 56, dtype: float64
x (mm)          464.000000
y (mm)          472.000000
u mm/s          180.490547
v mm/s            4.219190
v_avg (mm/s)    182.231190
Name: 57, dtype: float64
x (mm)          472.000000
y (mm)          472.000000
u mm/s          179.894025
v mm/s            4.644046
v_avg (mm/s)    182.506906
Name: 58, dtype: float64
x (mm)          480.000000
y (mm)          472.000000
u mm/s          181.096230
v mm/s            2.348279
v_avg (mm/s)    183.067336
Name: 59, dtype: float64
x (mm)          488.000000
y (mm)          472.000000
u mm/s          181.221669
v mm/s            2.593739
v_avg (mm/s)    182.776256
Name: 60, dtype: float64
x (mm)          496.000000
y (mm)          472.000000
u mm/s          179.051258
v mm/s            1.519212
v_avg (mm/s)    180.784533
Name: 61, dtype: float64
x (mm)          504.000000
y (mm)          472.000000
u mm/s          179.823129
v mm/s            1.367545
v_avg (mm/s)    181.809190
Name: 62, dtype: float64
x (mm)          512.000000
y (mm)          472.000000
u mm/s          179.198154
v mm/s            2.376680
v_avg (mm/s)    181.924020
Name: 63, dtype: float64
x (mm)          520.000000
y (mm)          472.000000
u mm/s          177.854377
v mm/s            2.420008
v_avg (mm/s)    179.027637
Name: 64, dtype: float64
x (mm)          528.000000
y (mm)          472.000000
u mm/s          179.223584
v mm/s            2.105961
v_avg (mm/s)    180.633904
Name: 65, dtype: float64
x (mm)          536.000000
y (mm)          472.000000
u mm/s          175.750106
v mm/s            0.432193
v_avg (mm/s)    178.285368
Name: 66, dtype: float64
x (mm)          544.000000
y (mm)          472.000000
u mm/s          178.968169
v mm/s            1.196794
v_avg (mm/s)    180.531140
Name: 67, dtype: float64
x (mm)          552.000000
y (mm)          472.000000
u mm/s          178.400349
v mm/s            2.701175
v_avg (mm/s)    180.073702
Name: 68, dtype: float64
x (mm)          560.000000
y (mm)          472.000000
u mm/s          177.467892
v mm/s            2.964962
v_avg (mm/s)    179.072679
Name: 69, dtype: float64
x (mm)          568.000000
y (mm)          472.000000
u mm/s          179.243870
v mm/s            2.067595
v_avg (mm/s)    180.598214
Name: 70, dtype: float64
x (mm)          576.000000
y (mm)          472.000000
u mm/s          177.592844
v mm/s            1.489572
v_avg (mm/s)    179.309170
Name: 71, dtype: float64
x (mm)          584.000000
y (mm)          472.000000
u mm/s          176.436621
v mm/s            1.765016
v_avg (mm/s)    178.143602
Name: 72, dtype: float64
x (mm)          592.000000
y (mm)          472.000000
u mm/s          175.453488
v mm/s            1.812234
v_avg (mm/s)    177.360343
Name: 73, dtype: float64
x (mm)          600.000000
y (mm)          472.000000
u mm/s          173.436586
v mm/s            0.671207
v_avg (mm/s)    176.190754
Name: 74, dtype: float64
x (mm)          608.000000
y (mm)          472.000000
u mm/s          173.420047
v mm/s            0.915854
v_avg (mm/s)    174.960456
Name: 75, dtype: float64
x (mm)          616.000000
y (mm)          472.000000
u mm/s          173.085970
v mm/s            1.248510
v_avg (mm/s)    175.316585
Name: 76, dtype: float64
x (mm)          624.000000
y (mm)          472.000000
u mm/s          171.503428
v mm/s            1.628285
v_avg (mm/s)    173.896562
Name: 77, dtype: float64
x (mm)          632.000000
y (mm)          472.000000
u mm/s          151.821797
v mm/s            2.875181
v_avg (mm/s)    158.665629
Name: 78, dtype: float64
x (mm)            8.000000
y (mm)          464.000000
u mm/s          152.042628
v mm/s            4.785998
v_avg (mm/s)    153.265962
Name: 79, dtype: float64
x (mm)           16.000000
y (mm)          464.000000
u mm/s          150.107798
v mm/s            4.531338
v_avg (mm/s)    151.576839
Name: 80, dtype: float64
x (mm)           24.000000
y (mm)          464.000000
u mm/s          153.660697
v mm/s            5.444375
v_avg (mm/s)    155.306042
Name: 81, dtype: float64
x (mm)           32.000000
y (mm)          464.000000
u mm/s          161.012592
v mm/s            4.934878
v_avg (mm/s)    161.853797
Name: 82, dtype: float64
x (mm)           40.000000
y (mm)          464.000000
u mm/s          165.801864
v mm/s            5.016210
v_avg (mm/s)    166.902228
Name: 83, dtype: float64
x (mm)           48.000000
y (mm)          464.000000
u mm/s          168.294041
v mm/s            5.625001
v_avg (mm/s)    169.393379
Name: 84, dtype: float64
x (mm)           56.000000
y (mm)          464.000000
u mm/s          168.949341
v mm/s            6.059006
v_avg (mm/s)    170.158183
Name: 85, dtype: float64
x (mm)           64.000000
y (mm)          464.000000
u mm/s          170.566389
v mm/s            7.155787
v_avg (mm/s)    171.364342
Name: 86, dtype: float64
x (mm)           72.000000
y (mm)          464.000000
u mm/s          167.367470
v mm/s            7.178458
v_avg (mm/s)    168.279221
Name: 87, dtype: float64
x (mm)           80.000000
y (mm)          464.000000
u mm/s          168.504897
v mm/s            7.309553
v_avg (mm/s)    169.317439
Name: 88, dtype: float64
x (mm)           88.000000
y (mm)          464.000000
u mm/s          173.990966
v mm/s            6.628281
v_avg (mm/s)    175.047946
Name: 89, dtype: float64
x (mm)           96.000000
y (mm)          464.000000
u mm/s          177.023081
v mm/s            5.773847
v_avg (mm/s)    177.735688
Name: 90, dtype: float64
x (mm)          104.000000
y (mm)          464.000000
u mm/s          178.160654
v mm/s            5.051100
v_avg (mm/s)    178.870312
Name: 91, dtype: float64
x (mm)          112.000000
y (mm)          464.000000
u mm/s          178.878121
v mm/s            5.150740
v_avg (mm/s)    180.375412
Name: 92, dtype: float64
x (mm)          120.000000
y (mm)          464.000000
u mm/s          180.257377
v mm/s            6.624011
v_avg (mm/s)    181.397753
Name: 93, dtype: float64
x (mm)          128.000000
y (mm)          464.000000
u mm/s          180.585748
v mm/s            6.469180
v_avg (mm/s)    181.318447
Name: 94, dtype: float64
x (mm)          136.000000
y (mm)          464.000000
u mm/s          179.599960
v mm/s            6.370600
v_avg (mm/s)    180.292075
Name: 95, dtype: float64
x (mm)          144.000000
y (mm)          464.000000
u mm/s          178.912345
v mm/s            7.667382
v_avg (mm/s)    180.297814
Name: 96, dtype: float64
x (mm)          152.000000
y (mm)          464.000000
u mm/s          180.958344
v mm/s            7.185086
v_avg (mm/s)    182.562071
Name: 97, dtype: float64
x (mm)          160.000000
y (mm)          464.000000
u mm/s          184.176921
v mm/s            5.678992
v_avg (mm/s)    184.945700
Name: 98, dtype: float64
x (mm)          168.000000
y (mm)          464.000000
u mm/s          184.233746
v mm/s            5.539958
v_avg (mm/s)    184.981951
Name: 99, dtype: float64
x (mm)          176.000000
y (mm)          464.000000
u mm/s          185.438125
v mm/s            4.978508
v_avg (mm/s)    186.403282
Name: 100, dtype: float64
x (mm)          184.000000
y (mm)          464.000000
u mm/s          187.134835
v mm/s            5.044295
v_avg (mm/s)    188.109424
Name: 101, dtype: float64
x (mm)          192.000000
y (mm)          464.000000
u mm/s          187.557505
v mm/s            4.318174
v_avg (mm/s)    188.681254
Name: 102, dtype: float64
x (mm)          200.000000
y (mm)          464.000000
u mm/s          187.191287
v mm/s            5.217306
v_avg (mm/s)    188.320715
Name: 103, dtype: float64
x (mm)          208.000000
y (mm)          464.000000
u mm/s          187.469292
v mm/s            5.077102
v_avg (mm/s)    189.212170
Name: 104, dtype: float64
x (mm)          216.000000
y (mm)          464.000000
u mm/s          188.105221
v mm/s            6.234355
v_avg (mm/s)    189.003278
Name: 105, dtype: float64
x (mm)          224.000000
y (mm)          464.000000
u mm/s          188.942768
v mm/s            5.825052
v_avg (mm/s)    190.080115
Name: 106, dtype: float64
x (mm)          232.000000
y (mm)          464.000000
u mm/s          188.512685
v mm/s            5.254557
v_avg (mm/s)    189.157734
Name: 107, dtype: float64
x (mm)          240.000000
y (mm)          464.000000
u mm/s          188.827232
v mm/s            3.960487
v_avg (mm/s)    190.318977
Name: 108, dtype: float64
x (mm)          248.000000
y (mm)          464.000000
u mm/s          186.760863
v mm/s            4.064991
v_avg (mm/s)    188.533656
Name: 109, dtype: float64
x (mm)          256.000000
y (mm)          464.000000
u mm/s          187.312386
v mm/s            5.820660
v_avg (mm/s)    189.227498
Name: 110, dtype: float64
x (mm)          264.000000
y (mm)          464.000000
u mm/s          184.847275
v mm/s            5.674677
v_avg (mm/s)    187.728954
Name: 111, dtype: float64
x (mm)          272.000000
y (mm)          464.000000
u mm/s          185.985456
v mm/s            4.514510
v_avg (mm/s)    187.396562
Name: 112, dtype: float64
x (mm)          280.000000
y (mm)          464.000000
u mm/s          188.308596
v mm/s            4.553635
v_avg (mm/s)    189.708399
Name: 113, dtype: float64
x (mm)          288.000000
y (mm)          464.000000
u mm/s          188.796130
v mm/s            3.467047
v_avg (mm/s)    189.957054
Name: 114, dtype: float64
x (mm)          296.000000
y (mm)          464.000000
u mm/s          185.843871
v mm/s            3.987238
v_avg (mm/s)    187.531459
Name: 115, dtype: float64
x (mm)          304.000000
y (mm)          464.000000
u mm/s          186.724234
v mm/s            4.889783
v_avg (mm/s)    187.447566
Name: 116, dtype: float64
x (mm)          312.000000
y (mm)          464.000000
u mm/s          188.143503
v mm/s            4.846372
v_avg (mm/s)    188.875070
Name: 117, dtype: float64
x (mm)          320.000000
y (mm)          464.000000
u mm/s          185.962330
v mm/s            3.572656
v_avg (mm/s)    187.349465
Name: 118, dtype: float64
x (mm)          328.000000
y (mm)          464.000000
u mm/s          186.594059
v mm/s            3.029618
v_avg (mm/s)    187.796722
Name: 119, dtype: float64
x (mm)          336.000000
y (mm)          464.000000
u mm/s          185.710077
v mm/s            3.832487
v_avg (mm/s)    187.003964
Name: 120, dtype: float64
x (mm)          344.000000
y (mm)          464.000000
u mm/s          185.344188
v mm/s            5.277804
v_avg (mm/s)    187.097138
Name: 121, dtype: float64
x (mm)          352.000000
y (mm)          464.000000
u mm/s          187.600915
v mm/s            4.941668
v_avg (mm/s)    188.551942
Name: 122, dtype: float64
x (mm)          360.000000
y (mm)          464.000000
u mm/s          187.414517
v mm/s            3.580541
v_avg (mm/s)    188.292609
Name: 123, dtype: float64
x (mm)          368.000000
y (mm)          464.000000
u mm/s          186.985031
v mm/s            3.717843

In [133]:
## Debugging cell
print(Average_data_frame)

      x (mm)  y (mm)      u mm/s    v mm/s  v_avg (mm/s)
0        8.0   472.0  140.737863  3.692356    141.740347
1       16.0   472.0  151.589408  3.698804    153.449441
2       24.0   472.0  156.110002  4.961069    157.937113
3       32.0   472.0  161.645278  5.322615    163.016065
4       40.0   472.0  166.067570  4.403409    166.807878
...      ...     ...         ...       ...           ...
4656   600.0     8.0  125.170010 -0.108651    128.540601
4657   608.0     8.0  126.254609  1.193838    131.441366
4658   616.0     8.0  121.268409  0.929797    126.200715
4659   624.0     8.0  121.465761  1.065243    126.596876
4660   632.0     8.0  102.223448  0.155905    110.626382

[4661 rows x 5 columns]

In [120]:
## Part C ##
# Creating the RMS dataframe
RMS = pd.DataFrame(index=np.arange(len(dataframes)), columns=np.arange(len(dt)))

#computing the RMS for each cell
for i in range(len(dataframes)): #row of the Mean_RMS
    for j in range(len(vector_total_frame.loc[0][:])): #columns of Mean_RMS
        RMS.loc[i][j] = (vector_total_frame.loc[i][j] - Average_data_frame.loc[j][4])

print(RMS)

           0           1           2           3           4           5     \
0    -23.956409  -39.195287  -22.693621     1.71038    4.325033   -0.953127
1     21.008337    2.563129    7.691598    7.366634   -4.632987  -13.061428
2     18.424239   17.997905   13.165231   24.081172  -11.195604  -20.423193
3   -139.364727   25.130035   21.129975   13.822552    7.324287     6.78496
4   -107.578722  -49.428012  -11.262396   -5.560708   -8.243044  -16.757711
..          ...         ...         ...         ...         ...         ...
505  -25.573139  -40.066398     -8.6771   14.908516   10.114023    4.167664
506 -139.364727 -150.263114 -154.995832 -160.228526 -164.043285 -166.852253
507 -105.953452  -84.816746    -9.73307   35.674184   15.611247   13.308373
508 -139.364727  -15.989783   -8.856915   -8.966608    4.753718    0.621028
509 -139.364727  -10.205507   18.332324    3.194901   -2.388625  -11.617414

           6           7           8           9     ...        4651  \
0       7.83582    3.056338   -7.000459    3.701033  ...   32.627167
1    -18.307975  -10.353952     2.15936   -3.279139  ...   30.438777
2    -12.394484    4.865735   -4.948847   -6.168038  ...   -5.717313
3     -4.800696  -15.505307   19.532902   22.427877  ...   42.341188
4    -36.847549  -42.872837    0.345392    8.678322  ... -128.371814
..          ...         ...         ...         ...  ...         ...
505    1.165255   -2.443608   -0.413734    0.182173  ...   13.715373
506   -7.000318   23.664598 -167.156494 -167.521076  ...  -12.580992
507  -35.597623   -6.849318    2.404434   -4.474151  ...   27.658067
508   -3.684844  -15.588614 -167.156494 -167.521076  ...   57.773866
509 -166.577546 -169.028406 -167.156494 -167.521076  ...   60.727305

          4652       4653       4654       4655        4656        4657  \
0    17.126345  -1.353285 -10.452368  -4.200433  -14.599394  -55.139342
1   -12.802916  -9.262646     9.7961  16.538718  -69.080266  -17.498498
2     5.050404   2.078271  19.373628  13.842955  -23.708303  -43.307462
3    18.346077   7.878457 -18.378513   3.324159     5.21237   47.214041
4    -4.060313 -11.830282  31.949128   8.692642   -34.54541  -29.989989
..         ...        ...        ...        ...         ...         ...
505  -2.267076   -1.38381  26.537169  28.035691   16.414666  -24.769035
506 -24.379614  -99.68017 -12.592221  -5.666921  -11.834354   -0.488871
507  33.822976  28.891796  27.187192   27.70219  -17.443318   -28.40122
508  32.065603   7.261404    6.33097   2.381712    3.040892    11.16905
509 -13.309124 -34.275287   6.060949 -56.533481 -127.351094 -130.160136

          4658        4659        4660
0    31.438452   31.370708 -108.062996
1     9.229243   33.760959   28.874813
2   -29.359354 -124.710058 -108.062996
3   -18.377374  -14.644469  -11.328375
4    13.914107  -37.479678  -35.410221
..         ...         ...         ...
505  -2.498043   10.236474   19.005728
506  23.884221   15.387387   18.362779
507 -47.359379  -39.976599 -108.062996
508  -2.287589   -7.847102 -108.062996
509  -2.754064    -3.22131  -91.880579

[510 rows x 4661 columns]

In [123]:
#Computing the mean RMS
mean_RMS = pd.DataFrame(columns=["Mean RMS"])

for i in range(len(dataframes)):
    avg = 0
    divider = 0
    
    for j in range(len(RMS)):
        if pd.isnull(RMS.loc[j][i]) == False:
            avg = avg + RMS.loc[i][j]
            divider = divider + 1
        else:
            divider = divider

    RMS_avg = avg/divider
    mean_RMS.loc[i] = RMS_avg

print(mean_RMS)

      Mean RMS
0   -35.401136
1   -30.271169
2   -46.724219
3   -35.751647
4   -31.164411
..         ...
505 -48.714413
506 -58.644971
507 -52.982016
508 -61.674258
509 -82.290313

[510 rows x 1 columns]